<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/add-brand.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/notifications.css">
  <script src="{{ base_url() }}/libs/jquery-validate/lib/jquery.js"></script>
  <script src="{{ base_url() }}/libs/jquery-validate/dist/jquery.validate.js"></script>
  <script src="{{ base_url() }}/libs/jquery-validate/dist/additional-methods.js"></script>
  <title>Adicionar Carro</title>
</head>
<body>
  <section id="logo">
    <img src="{{ base_url() }}/img/logo-superior.png" alt="logo-cabeçote100%">
  </section>
  <section id="title">
    <h1>Adicionar Carro</h1>
    {% include "components/notifications.twig" %}
  </section>
  <section id="form-brand">
  <form action="" method="POST">
    <table>
      <tr>
        <td>Modelo Carro:</td>
        <td><input type="text" class="brand-name" name="car"></td>
      </tr>
      <tr>
        <td>Montadora:</td>
        <td>
          <select name="brands" id="brands" class="brand-name">
            {% for brand in brands %}
              <option value="{{ brand.id }}">{{brand.name}}</option>
            {% endfor %}
          </select>
        <td>
      </tr>
      <tr>
        <td></td>
        <td class="buttons" style="padding-top: 80px;">
          <input type="reset" value="Reset" class="yellow">
          <input type="submit" value="Salvar" class="green">
        </td>
      </tr>
    </table>
  </form>
  </section>
<script src="{{ base_url() }}/js/notifications.js"></script>
</body>
</html>