<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ base_url() }}/libs/jquery-validate/lib/jquery.js"></script>
  <script src="{{ base_url() }}/libs/jquery-validate/dist/jquery.validate.js"></script>
  <script src="{{ base_url() }}/libs/jquery-validate/dist/additional-methods.js"></script>
  {% block js %}
    <script>
      $(document).ready(function() {
        $('#brandForm').validate();
          $('#file1').rules('add', {
            required: true,
            accept: "image/jpeg, image/pjpeg, image/png",
            messages: {
            accept: "Formato inválido",
            required: "O campo é obrigatório"
          }
      });
    });
    </script>
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/add-brand.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/notifications.css">
  <title>Adicionar Montadora</title>
</head>
<body>
  <section id="logo">
    <img src="{{ base_url() }}/img/logo-superior.png" alt="logo-cabeçote100%">
  </section>
  <section id="title">
    <h1>Adicionar Montadora</h1>
    {% include "components/notifications.twig" %}
  </section>
  <section id="form-brand">
  <form action="" method="POST" enctype="multipart/form-data" id="brandForm">
    <table>
      <tr>
        <td>Nome da Montadora:</td>
        <td><input type="text" class="brand-name" name="name" ></td>
      </tr>
      <tr>
        <td class="form-group">Ícone:</td>
        <td class="file-input">
          <img src="https://via.placeholder.com/230.png" alt="" id="brand">
          <input type="file" name="picture" accept="image/x-png,image/gif,image/jpeg" id="file1" class="file1">
          <label for="file1" class="fileChoose">Selecione um arquivo</label>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="buttons">
          <input type="reset" value="Reset" class="yellow">
          <input type="submit" value="Salvar" class="green">
        </td>
      </tr>
    </table>
    
  </form>
  </section>
<script src="{{ base_url() }}/js/notifications.js"></script>
<script src="{{ base_url() }}/js/img_upload.js"></script>
</body>
</html>