<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/app-options.css" />
  <title>Gerenciamento de Aplicativo</title>
</head>
<body>
  <h1>Tabela de Cabeçote</h1>
  <main id="options">
    <div class="option">
      <a href="{{ path_for('dashboard.appBrand') }}"><img src="{{ base_url() }}/img/motor.jpg" alt="Funcionalidade"></a>
      <div class="text">
        <a href="{{ path_for('dashboard.appBrand') }}">Gerenciar Montadoras</a>
      </div>
    </div>
    <div class="option">
      <a href="{{ path_for('dashboard.appCar') }}"><img src="{{ base_url() }}/img/motor.jpg" alt="Funcionalidade"></a>
      <div class="text">
        <a href="{{ path_for('dashboard.appCar') }}">Gerenciar Carros</a>
      </div>
    </div>
    <div class="option">
      <a href="{{ path_for('dashboard.appHead') }}"><img src="{{ base_url() }}/img/motor.jpg" alt="Funcionalidade"></a>
      <div class="text">
        <a href="{{ path_for('dashboard.appHead') }}">Gerenciar Cabeçote</a>
      </div>
    </div>
    <div class="option">
      <img src="{{ base_url() }}/img/motor.jpg" alt="Funcionalidade">
      <div class="text">
        Associar cabeçote ao modelo do carro
      </div>
    </div>
  </main>
</body>
</html>