<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/app-options.css" />
  <title>Gerenciamento de Aplicativo</title>
</head>
<body>
  <h1>Tabela de Cabeçote</h1>
  <main id="options">
    <div class="option">
      <a href="{{ path_for('dashboard.createBrand') }}"><img src="{{ base_url() }}/img/motor.jpg" alt="Funcionalidade"></a>
      <div class="text">
        <div class="dropdown">
          <button class="dropbtn">Gerenciar Montadoras</button>
          <div class="dropdown-content">
            <a href="{{ path_for('dashboard.createBrand') }}">Adicionar Montadora</a>
            <a href="{{ path_for('dashboard.appBrandEdit') }}">Editar / Apagar Montadora</a>
          </div>
        </div> 
      </div>
    </div>
    <div class="option">
      <a href="{{ path_for('car.createCar') }}"><img src="{{ base_url() }}/img/motor.jpg" alt="Funcionalidade"></a>
      <div class="text">
        <div class="dropdown">
          <button class="dropbtn">Gerenciar Veículos</button>
          <div class="dropdown-content">
            <a href="{{ path_for('car.createCar') }}">Adicionar Veículo</a>
            <a href="{{ path_for('dashboard.appCarEdit') }}">Editar / Apagar Veículo</a>
          </div>
        </div> 
      </div>
    </div>
    <div class="option">
      <a href="{{ path_for('dashboard.appHead') }}"><img src="{{ base_url() }}/img/motor.jpg" alt="Funcionalidade"></a>
      <div class="text">
        <div class="dropdown">
          <button class="dropbtn">Gerenciar Cabeçote</button>
          <div class="dropdown-content">
            <a href="{{ path_for('dashboard.appHeadAdd') }}">Adicionar Cabeçote</a>
            <a href="{{ path_for('dashboard.appHead') }}">Editar / Apagar Cabeçote</a>
          </div>
        </div> 
      </div>
    </div>
    <div class="option">
      <img src="{{ base_url() }}/img/motor.jpg" alt="Funcionalidade">
      <div class="text">
        <a href="{{ path_for('dashboard.appHeadCar') }}">Associar cabeçote ao modelo do carro</a>
      </div>
    </div>
  </main>
</body>
</html>