<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/dashboard.css" />
  <title>Dashboard - Cabeçote 100%</title>
</head>
<body>
  <aside id="left-bar">
    <div id="date-hour">
      <p>{{ "now"|date("d-m-Y", "America/Sao_Paulo") }}</p>
      <p>{{ "now"|date("H:i:s") }}</p>
    </div>
    <figure>
      <img src="{{ base_url() }}/img/perfil.jpg" alt="Imagem-do-usuário">
    </figure>
    <h5>{{ auth.user.username }}</h5>
    <small><a href="{{ path_for('auth.logout') }}">Sair</a></small>
  </aside>
  <main id="content">
    <h2>Aplicativos Cabeçote 100%</h2>
    <section id="apps">
      <div id="app">
        <a href="{{ path_for('dashboard.app') }}"><img src="{{ base_url() }}/img/measure.png" alt="placeholder"></a>
        <h3><a href="{{ path_for('dashboard.app') }}">Tabela de Cabeçote</a></h3>
      </div>
      <div id="app">
        <img src="https://via.placeholder.com/150?text=Em+breve" alt="placeholder">
        <h3>Aplicativo 2</h3>
      </div>
      <div id="app">
        <img src="https://via.placeholder.com/150?text=Em+breve" alt="placeholder">
        <h3>Aplicativo 3</h3>
      </div>
      <div id="app">
        <img src="https://via.placeholder.com/150?text=Em+breve" alt="placeholder">
        <h3>Aplicativo 4</h3>
      </div>
    </section>
  </main>
</body>
</html>