<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ base_url() }}/libs/jquery-validate/lib/jquery.js"></script>
  <script src="{{ base_url() }}/libs/jquery-validate/dist/jquery.validate.js"></script>
  <script src="{{ base_url() }}/libs/jquery-validate/dist/additional-methods.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/add-brand.css">
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/notifications.css">
  <title>Editar Montadora</title>
</head>
<body>
  <section id="logo">
    <img src="{{ base_url() }}/img/logo-superior.png" alt="logo-cabeçote100%">
  </section>
  <section id="title">
    <h1>Editar Montadora</h1>
  </section>
  <section id="form-brand">
  <form action="#" method="POST">
    <table>
      <tr>
        <td>Nome da Montadora:</td>
        <td>
          <select name="Montadoras" id="" class="brand-name" onchange="getMarcas()">
            {% for brand in brands %}
              <option value="{{ brand.name }}">{{brand.name}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Nome da Montadora:</td>
        <td><input type="text" class="brand-name"></td>
      </tr>
      <tr>
        <td>Ícone:</td>
        <td><img src="https://via.placeholder.com/230.png" alt=""></td>
      </tr>
      <tr>
        <td></td>
        <td class="buttons">
          <input type="reset" value="Reset" class="yellow">
          <input type="submit" value="Salvar" class="green">
        </td>
      </tr>
    </table>
  </form>
  </section>

  <pre>
    {{ brands }}
    </pre>

<script src="{{ base_url() }}/js/notifications.js"></script>
<script src="{{ base_url() }}/js/img_upload.js"></script>
<script src="{{ base_url() }}/js/getBrands.js"></script>
</body>
</html>